.progress-card {
    margin-top: 1rem;
}

.card-text {
    color: #546e7a;
    font-size: 0.7rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-transform: capitalize;
}