.donut-card {
  // height: 30vh;
  height: 24rem;
  padding: 0.8rem;
  margin-top: 1rem;
}

.card-body {
  padding: 0 0 0 0.5rem;
}

.donut-card h6 {
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: -0.05px;
  color: #546e7a;
}
