.black-list {
    display: inline;
    font-size: 1.6rem;
    color: red;
}

.icon-image {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.customer-card {
    height: 450px;
    margin-bottom: 1rem;
    padding: 1rem;
}