.contractContainer {
    margin: 3rem 2rem;
}

.contractInput {
    border: none;
}

.contractInput:hover {
    background-color: #FDF4DB;
}

.passportSearchResult {
    font-size: 0.8rem;
    padding-left: 1rem;
    color: #78C2AD;
    margin: 0.6rem;
}